nav {
    color: rebeccapurple;
}

body {
    background-color: lavender;
}

#top {
    height: 200px;
}

#home {
    background-color: rebeccapurple;
    color: lavender;
}

#email {
    background: rgb(165, 165, 239);
    color: black;
    border-radius: 8%;
}

#linkedin {
    background-color: rgb(165, 165, 239);
    color: black;
    border-radius: 8%;
}

#linkedin a {
    color: black;
}

#gradient {
    background: linear-gradient(45deg, rgba(102,51,153,1) 0%, rgba(123,155,182,1) 20%, rgba(155,182,123,1) 40%, rgba(182,150,123,1) 50%, rgba(155,182,123,1) 60%, rgba(123,155,182,1) 80%, rgba(102,51,153,1) 100%);
    width: auto;
    height: 300px;
}

img {
    border-style: solid;
    border-color: black;
}

#education h1, #education h3, #education h5 {
    padding: 0 0 20px 0;
}

#about {
    background-color: rebeccapurple;
    color: white;
    padding: 20px;
}

#projects-title {
    color: rebeccapurple;
}

#projects {
    color: rebeccapurple;
}

#projects-line {
    background-color: lavender;
}

#project {
    background-color: white;
}

#project h1 {
    padding: 0 0 20px 0;

}

#title a {
    text-decoration: none !important;
}

#title a:hover {
    text-decoration: underline !important;
    text-decoration-color: rebeccapurple;
}

#title {
    color: rebeccapurple;
}

.max-width-500 {
    max-width: 500px;
    width: 100%; /* Keeps it responsive*/
}