.lavender {
    color: lavender
}

.rebecca {
    color: rebeccapurple;
}

.rebeccaBackground {
    background-color: rebeccapurple;
}

nav {
    color: rebeccapurple;
}

body {
    background-color: lavender;
}

#top {
    height: 200px;
}

#gradient {
    background: linear-gradient(45deg, rgba(102,51,153,1) 0%, rgba(123,155,182,1) 20%, rgba(155,182,123,1) 40%, rgba(182,150,123,1) 50%, rgba(155,182,123,1) 60%, rgba(123,155,182,1) 80%, rgba(102,51,153,1) 100%);
    width: auto;
    height: 300px;
}

img {
    border-style: solid;
    border-color: black;
}

#projects-title {
    color: rebeccapurple;
}

#projects {
    color: rebeccapurple;
}


a:hover {
    text-decoration: underline !important;
    text-decoration-color: rebeccapurple;
}

#title {
    color: rebeccapurple;
}

.max-width-300 {
    max-width: 300px;
    width: 100%;
}

.max-width-500 {
    max-width: 500px;
    width: 100%; /* Keeps it responsive*/
}

.max-width-700 {
    max-width: 700px;
    width: 100%;
}

.min-height-400 {
    min-height: 400px;
}