nav {
    color: rebeccapurple;
}

body {
    background-color: lavender;
}

#top {
    height: 200px;
}

#home {
    background-color: rebeccapurple;
    color: lavender;
}

#gradient {
    background: linear-gradient(45deg, rgba(102,51,153,1) 0%, rgba(123,155,182,1) 20%, rgba(155,182,123,1) 40%, rgba(182,150,123,1) 50%, rgba(155,182,123,1) 60%, rgba(123,155,182,1) 80%, rgba(102,51,153,1) 100%);
    width: auto;
    height: 300px;
}

img {
    margin: 30px 0;
    border-style: solid;
    border-color: black;
}

#education h1, #education h3, #education h5 {
    padding: 0 0 20px 0;
}

#about {
    background-color: rebeccapurple;
    color: white;
    padding: 20px;
}

#projects {
    background-color: rebeccapurple;
    color: lavender;
}

#projects-line {
    background-color: lavender;
}

#project {
    background-color: white;
}

#project h1 {
    padding: 0 0 20px 0;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: rebeccapurple;
}

#title {
    color: rebeccapurple;
}